.preupload-imgbox {
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  .button {
    width: 80px;
    height: 50x;
    position: absolute;
    top: 8px;
    left: -20px;
  }

  .preupload-img,
  .preupload-description {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    align-items: center;
    width: calc(50% - 5px);
    position: relative;
    box-sizing: border-box;
    img {
      max-width: 100%;
      margin: 0 auto;
    }
  }

  .preupload-description {
    display: block;
    background-color: transparent;
    word-wrap: break-word;
    padding-left: 10px;
  }
}
