/* ---------------------------------------------------------------*/
/*ローディング----------------------------------------------------*/
/* -------------------------------------------------------------*/

.outLoading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #00aeec;
  box-sizing: border-box;
  .sentence,
  .complete,
  .notFound {
    position: absolute;
    top: 46.5%;
    left: 50%;
    z-index: 2;
    font-weight: bold;
    color: #fff;
    z-index: 5;
  }
  .complete,
  .notFound {
    left: 0;
    width: 100%;
    text-align: center;
  }
}

.loader {
  border-radius: 50%;
  &:before,
  &:after {
    border-radius: 50%;
  }
  color: #ffffff;
  font-size: 11px;
  text-indent: -99999em;
  margin: 0px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: absolute;
  top: 40%;
  left: 32%;
  &:before,
  &:after {
    position: absolute;
    content: '';
  }
  &:before {
    width: 5.2em;
    height: 10.2em;
    background: #00aeec;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.2em 5.1em;
    transform-origin: 5.2em 5.1em;
    -webkit-animation: load2 1s infinite ease 0.8s;
    animation: load2 1s infinite ease 0.8s;
  }
  &:after {
    width: 5.2em;
    height: 10.2em;
    background: #00aeec;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 5.1em;
    -webkit-transform-origin: 0px 5.1em;
    transform-origin: 0px 5.1em;
    -webkit-animation: load2 1s infinite ease;
    animation: load2 1s infinite ease;
  }
}
@media screen and (min-width: 768px) {
  .loader {
    left: 45%;
  }
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
