@charset "utf-8";
// ===================================================================
// 基本設定
// ===================================================================

// ブレイクポイントんの設定
$width_pc: 1200px;
$width_tablet: 768px;
$width_sp: 480px;

// 基本フォント
$line_hight: 1.6;
$base_font_size : 18px;
$font_color     : #330000;

$base_font: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, '游ゴシック体', 'Yu Gothic', YuGothic, 'MS P Gothic', 'ＭＳ Ｐゴシック', arial, helvetica, sans-serif;

/* IE -------------------------------------------------------------*/
//@font-face {
//font-family: フォント名;
//src: url(font/フォント名.eot);
//}
/* Firefox, Opera, Safari --------------------------------------------*/
//@font-face {
//font-family: フォント名;
//src: url(font/フォント名.ttf) format(”truetype”);
//}
/*

// 基本フォント色
$font_color: #000;
// リンク色
$link_color: #c6b77c;

// 基本カラー
$color_base: #555555;
// アクセントカラー
$color_primary: #c6b77c;
// サブカラー
$color_option: #555555;
*/
