@charset "UTF-8";

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote {
  &:after,
  &:before {
    content: "";
    content: none;
  }
}

q {
  &:after,
  &:before {
    content: "";
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import "slide";
.flex_box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex_box_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*-----------------------------------------------------------------------------------*/
/*共通部分---------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

body {
  color: #330000;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "游ゴシック体", "Yu Gothic", YuGothic, "MS P Gothic",
    "ＭＳ Ｐゴシック", arial, helvetica, sans-serif;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.block {
  display: block;
}

.none,
.pc_block {
  display: none;
}

@media screen and (min-width: 768px) {
  .pc_block {
    display: block;
  }
  .sp_block {
    display: none;
  }
}

.head,
.mainContents,
.footer {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .head,
  .mainContents,
  .footer {
    width: 98%;
  }
}

@media screen and (min-width: 1220px) {
  .head,
  .mainContents,
  .footer {
    width: 1200px;
  }
}

@media screen and (max-width: 480px) {
  .head,
  .mainContents,
  .footer {
    width: 480px;
    margin: 0 auto;
  }
}

.commentary {
  display: block;
  width: 700px;
  margin: 20px auto 50px;
}

.use_tec {
  width: 200px;
}

.foot {
  background-color: #cccccc;
  width: 100%;
  height: 100px;
  p {
    display: block;
    margin: 20px auto;
    padding: 50px 0 0;
    width: 700px;
    text-align: center;
  }
}

.use_tec_head {
  display: block;
  margin: 50px auto 20px;
  font-weight: bold;
  text-align: center;
}

.fade-in {
  animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ---------------------------------------------------------------*/
/*ローディング----------------------------------------------------*/
/* -------------------------------------------------------------*/

.outLoading {
  width: 100%;
  height: 100vh;
  background-color: #2cc8d0;
  position: relative;
  box-sizing: border-box;
  .sentence,
  .complete,
  .notFound {
    position: absolute;
    top: 46.5%;
    left: 50%;
    z-index: 2;
    font-weight: bold;
    color: #fff;
    z-index: 5;
  }
  .complete,
  .notFound {
    left: 0;
    width: 100%;
    text-align: center;
  }
}

.loader {
  border-radius: 50%;
  &:before,
  &:after {
    border-radius: 50%;
  }
  color: #ffffff;
  font-size: 11px;
  text-indent: -99999em;
  margin: 0px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: absolute;
  top: 40%;
  left: 32%;
  &:before,
  &:after {
    position: absolute;
    content: "";
  }
  &:before {
    width: 5.2em;
    height: 10.2em;
    background: #2cc8d0;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.2em 5.1em;
    transform-origin: 5.2em 5.1em;
    -webkit-animation: load2 1s infinite ease 0.8s;
    animation: load2 1s infinite ease 0.8s;
  }
  &:after {
    width: 5.2em;
    height: 10.2em;
    background: #2cc8d0;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 5.1em;
    -webkit-transform-origin: 0px 5.1em;
    transform-origin: 0px 5.1em;
    -webkit-animation: load2 1s infinite ease;
    animation: load2 1s infinite ease;
  }
}
@media screen and (min-width: 768px) {
  .loader {
    left: 45%;
  }
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*-----------------------------------------------------------------------------------*/
/*.head-------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*.mainContents-----------------------------*/
/*-----------------------------------------------------------------------------------*/
/*.form_container-------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

.form_container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  label {
    display: block;
    margin: 0 auto;
  }
  input {
    &[type="text"],
    &[type="password"],
    &[type="email"] {
      display: inline-block;
      height: 2em;
      padding: 2px 2%;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background: #fafafa;
      -webkit-appearance: none;
      font-size: 100%;
      font-family: inherit;
      margin-top: 5px;
      margin: 20px auto;
      outline: none;
    }
    &[type="text"]:focus,
    &[type="password"]:focus,
    &[type="email"]:focus {
      box-shadow: 0px 0px 5px #55ccff;
      border: 1px solid #55ccff;
      background: #ffffff;
    }
  }
}

.action_button {
  position: relative;
  display: block;
  box-sizing: border-box;
  border: #cccccc 1px solid;
  border-radius: 20px;
  max-width: 300px;
  width: 300px;
  padding: 10px 0;
  margin: 20px auto;
  transition: all 0.2s;
  cursor: pointer;
  outline: none;
  background-color: #fff;
  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
  span {
    display: block;
    text-align: center;
    line-height: 1;
  }
  &:hover {
    box-shadow: 0px 0px 6px 3px #cccccc;
  }
  &:active {
    box-shadow: none;
  }
}

/*-----------------------------------------------------------------------------------*/
/*.not found-------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
.googleMap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
