@charset "UTF-8";

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote {
  &:after,
  &:before {
    content: '';
    content: none;
  }
}

q {
  &:after,
  &:before {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import 'slide';

/*-----------------------------------------------------------------------------------*/
/*共通部分---------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

.flex-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-box-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
// display
.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

// width
.w100 {
  width: 100%;
}
// text
.test_center {
  text-align: center;
}

.image_up_label {
  padding: 6px;
  border-radius: 12px;
  cursor: pointer;
}

@for $i from 0 through 50 {
  .m-#{$i} {
    margin: #{$i}px;
  }
  .mt-#{$i} {
    margin-top: #{$i}px;
  }
  .ml-#{$i} {
    margin-left: #{$i}px;
  }
  .mr-#{$i} {
    margin-right: #{$i}px;
  }
  .mx-#{$i} {
    margin-left: #{$i}px;
    margin-right: #{$i}px;
  }
  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }

  .p-#{$i} {
    padding: #{$i}px;
  }
  .pt-#{$i} {
    padding-top: #{$i}px;
  }
  .pl-#{$i} {
    padding-left: #{$i}px;
  }
  .pr-#{$i} {
    padding-right: #{$i}px;
  }
  .px-#{$i} {
    padding-left: #{$i}px;
    padding-right: #{$i}px;
  }
  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }
}

input[type='text'],
input[type='password'],
input[type='text'],
input[type='password'],
input[type='email'],
textarea,
select {
  outline: none !important;
}

*:focus {
  outline: none !important;
}

*:active {
  outline: none !important;
}

body {
  color: rgb(97, 218, 251);
  background-color: rgb(40, 44, 52);
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ',
    Meiryo, '游ゴシック体', 'Yu Gothic', YuGothic, 'MS P Gothic',
    'ＭＳ Ｐゴシック', arial, helvetica, sans-serif;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.block {
  display: block;
}

.none,
.pc_block {
  display: none;
}

@media screen and (min-width: 768px) {
  .pc_block {
    display: block;
  }
  .sp_block {
    display: none;
  }
}

.head,
.mainContents,
.footer {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .head,
  .mainContents,
  .footer {
    width: 98%;
  }
}

@media screen and (min-width: 1220px) {
  .head,
  .mainContents,
  .footer {
    width: 1200px;
  }
}

@media screen and (max-width: 480px) {
  .head,
  .mainContents,
  .footer {
    width: 480px;
    margin: 0 auto;
  }
}

.commentary {
  display: block;
  width: 700px;
  margin: 20px auto 50px;
}

.use_tec {
  width: 200px;
}

.foot {
  background-color: #cccccc;
  width: 100%;
  height: 100px;
  p {
    display: block;
    margin: 20px auto;
    padding: 50px 0 0;
    width: 700px;
    text-align: center;
  }
}

.use_tec_head {
  display: block;
  margin: 50px auto 20px;
  font-weight: bold;
  text-align: center;
}

.fade-in {
  animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*-----------------------------------------------------------------------------------*/
/*.form_container-------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

.form_container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  label {
    display: block;
    margin: 0 auto;
  }

  select {
    display: inline-block;
    height: 2em;
    padding: 2px 2%;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: #fafafa;
    -webkit-appearance: none;
    font-size: 100%;
    font-family: inherit;
    margin-top: 5px;
    margin: 20px auto;
    outline: none;
  }

  input {
    &[type='text'],
    &[type='password'],
    &[type='email'] {
      display: inline-block;
      height: 2em;
      padding: 2px 2%;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background: #fafafa;
      -webkit-appearance: none;
      font-size: 100%;
      font-family: inherit;
      margin-top: 5px;
      margin: 20px auto;
      outline: none;
    }
    &[type='text']:focus,
    &[type='password']:focus,
    &[type='email']:focus {
      box-shadow: 0px 0px 5px #55ccff;
      border: 1px solid #55ccff;
      background: #ffffff;
    }
  }
}

.action_button {
  position: relative;
  display: block;
  box-sizing: border-box;
  border: #cccccc 1px solid;
  border-radius: 20px;
  max-width: 300px;
  width: 300px;
  padding: 10px 0;
  margin: 20px auto;
  transition: all 0.2s;
  cursor: pointer;
  outline: none;
  background-color: #fff;
  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
  span {
    display: block;
    text-align: center;
    line-height: 1;
  }
  &:hover {
    box-shadow: 0px 0px 6px 3px #cccccc;
  }
  &:active {
    box-shadow: none;
  }
}

/*-----------------------------------------------------------------------------------*/
/*.not found-------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
.googleMap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.test_textarea {
  width: 500px;
  height: 300px;
  display: block;
  margin: 0 auto;
}

/*-----------------------------------------------------------------------------------*/
/*.button----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

.button {
  display: inline-block;
  width: 200px;
  height: 50x;
  text-align: center;
  text-decoration: none;
  outline: none;
  z-index: 2;
  background-color: #61befb;
  border: 2px solid #61befb;
  color: #fff;
  cursor: pointer;
  position: relative;
}

.button,
.button::before,
.button::after {
  box-sizing: border-box;
  transition: all 0.3s;
}

.button::before,
.button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.button:hover {
  background-color: #fff;
  border-color: #00aeec;
  color: #00aeec;
}
.button::before,
.button::after {
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #61befb;
}
.button::before {
  right: 0;
}
.button::after {
  left: 0;
}
.button:hover::before,
.button:hover::after {
  width: 0;
  background-color: #00aeec;
}

.portal {
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 100%;
  top: 0;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.6);
}

@import 'slide_show';
@import 'images';
@import 'loading';
