.DS_Store
/mysql_data
node_modules/
images/preupload/*.jpg
images/preupload/*.png
images/preupload/*.gif
images/preupload/*.ico
images/upload/*.jpg
images/upload/*.png
images/upload/*.gif
images/upload/*.ico
vendor