version: '3.7'
services:
  go_db:
    image: mysql:5.7.21
    volumes:
      - ./mysql_data:/var/lib/mysql
      - ./mysql:/docker-entrypoint-initdb.d
    container_name: golang_db
    ports:
      - '3306:3306'
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: world
      MYSQL_USER: dbuser
      MYSQL_PASSWORD: dbpassword

  golang:
    build: .
    volumes:
      - ./app:/app
    working_dir: /app/cmd
    command: go run main.go
    container_name: golang_app
    depends_on:
      - go_db
    ports:
      - '8000:8000'
    environment:
      MYSQL_DB_HOST: go_db
      MYSQL_DB: world
      MYSQL_PORT: 3306
      MYSQL_USER: dbuser
      MYSQL_PASSWORD: dbpassword

  go_react:
    image: node:slim
    container_name: golang_react
    volumes:
      - ./web:/web
      - /web/node_modules/
    working_dir: /web
    command: bash -c 'yarn && yarn dev'
    ports:
      - 8080:8080
    depends_on:
      - golang

networks:
  default:
    name: golang-mysql

volumes:
  mysql_data:
