.shot_message_box {
  position: fixed;
  top: 5%;
  right: -100%;
  z-index: 6;
  transition: all 1s;
  .massage_box {
    color: #ffffff;
    box-sizing: border-box;
    padding: 2px 10px;
    // background-color: #d500f9;
    background-color: #61befb;
    border: 1px #ffffff solid;
    box-shadow: 0px 0px 6px 3px #ffffff;
    border-radius: 3px;
    font-size: 12px;
    min-width: 200px;
    span {
      font-size: 14px;
    }
  }
}

.show_mess {
  right: 20%;
}

.hide_mess {
  transition: all 3s;
  right: -100%;
}
