.shot_message_box {
  position: fixed;
  top: 20px;
  right: -100%;
  z-index: 6;
  transition: all 1s;
  .massage_box {
    color: #ffffff;
    box-sizing: border-box;
    padding: 5px 10px;
    background-color: #61befb;
    border: 1px #ffffff solid;
    border-radius: 15px;
    font-size: 12px;
    min-width: 200px;
  }
}

.show_mess {
  right: 20%;
}

.hide_mess {
  transition: all 3s;
  right: -100%;
}
